body {
    background-color: #d3e3f5;
    margin: 0 auto;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  background-color: #272822;
  z-index: 9999;
  text-align: center;
}

#loading-image {
  height: 40px;
  z-index: 10000;
}

#loading-text {
  color: white;
  font-size: 36px;
  font-family: 'Lobster', Georgia, Times, serif;
}

#loading-wrapper {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20%;
  height: 20%;
}

#options {
    position: absolute;
    height: 100%;
    width: 280px;
    overflow: auto;
}

#optionsHeader {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

#options a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Lobster', Georgia, Times, serif;
}

#controls {
    margin: 0 auto;
}

#controls td {
    text-align: right;
}

#controls td + td {
    text-align: left;
}

#editorWrapper {
    position: absolute;
    left: 280px;
    right: 0;
    height: 100%;
}

#editor {
    position: absolute;
    height: 70%;
    width: 100%;
}

#runCode {
    z-index: 1000;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 30px;
    border-radius: 4px;
    font-family: 'Lobster', Georgia, Times, serif;
}

#terminalWrapper {
    background-color: rgb(75, 72, 72);
    z-index: 1000;
    position: absolute;
    height: 30%;
    right: 0;
    left: 0;
    bottom: 0;
    color: lightgray;
    overflow: auto;
}

#terminal {
    padding: 10px;
}
